<p style="color: green"><%= notice %></p>

<h1>Pins</h1>

<%= link_to "New pin", new_admin_pin_path %>

<div id="pins">
  <% @pins.each do |pin| %>

    <%= link_to [:admin, pin], class: 'pinCard' do %>
      <%= render pin %>
    <% end %>

  <% end %>
</div>
